body {
    background-color:rgb(187, 172, 146);
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 10;
    padding: 25px;
  }
  
  h1 {
    color:rgb(39, 10, 225);
    text-align: center;
  }
  
  h2 {
    
    color:rgb(39, 10, 225);
    text-align: center;
  }
  p {
    font-size: 18px;
    color:green;
    text-align: center;
  }